# Default ignored files
/shelf/
**/workspace.xml
*.pyc
*.pyo
__pycache__/

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Django stuff:
*.log

# DotEnv configuration
.env

# Text backup files
*.bak

# db files
db.sqlite3
