<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Jason Paul">
    <title>YYC Temperature Trend</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- static file CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Bokeh JS -->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.2.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.2.min.js" crossorigin="anonymous"></script>

    {{ script | safe }}
</head>
<body>
    <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header>
            <nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;">
                <h3 class="nav-item navbar-inner">Calgary, AB - Temperature Trend - Most Recent 8 Weeks</h3>
            </nav>
        </header>

        <main role="main" class="p-3">
            {{ div | safe }}
            <div class="mt-5">
                <p>
                  If using a mouse, hover over plot for display of actual temperature
                  values for select day.
                </p>
                <p>
                  Average and record temperature ranges are based on {{max_years}}
                  years of data (starting in 1881). Averages have been smoothed.
                </p>
                <p>
                  Raw data obtained from Canada Environment and Natural Resources
                  <a href="https://climate.weather.gc.ca/">Historical Climate Data</a>.
                </p>
            </div>
        </main>

        <div class="mt-auto border">
            <div class="inner text-center">
                <p class="text-muted">Created by Jason Paul</p>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>