<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YYC Weather Trend</title>
<!--    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-2.2.2.min.css" rel=”stylesheet” type=”text/css”>-->
<!--    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.2.min.css" rel=”stylesheet” type=”text/css”>-->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.2.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.2.min.js" crossorigin="anonymous"></script>
    {{ script | safe }}
</head>
<body>
    <h1>Hello there!</h1>
    {{ div | safe }}
</body>
</html>